@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* EDF6E5 */
:root {
    --primary-color: #113F67;
    --secondary-color: #226597;
    --third-color: #87C0CD;
}

@media (max-width: 992px) {
  .input-group {
      margin-top: 25px;
      width: 40%;
      height: 40px;
  }

      .input-group input {
          width: 80% !important;
          height:35px;
      }

      .input-group .input-group-append button {
          background-color: var(--primary-color);
      }

  .has-search .form-control-feedback {
      line-height: 10px;
      text-align: center;
      pointer-events: none;
      color: #aaa;
  }

  .header-contact {
      width: 100%;
      height: 40px;
      background-color: var(--primary-color);
  }

  .header {
      z-index: 999;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
      transition: 0.6s;
      color: black;
  }

  .sticky {
      z-index: 999;
      position: fixed;
      top: 0;
      width: 100%;
  }

  .header .logo {
      color: var(--primary-color);
      font-size: 1.2rem;
      font-weight:400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      width: 30%;
      margin:8px;
      margin-left:30px;
  }

  .header .navigation {
      position: relative;
      transition: 0.6s;
      transition-property: line-height;
      display: flex;
      width: 100%;
      justify-content:left;
      
  }

      .header .navigation .menu {
          display: none;
      }

  .slideqc {
      display: none;
  }

  .slides2 {
      display: none;
  }

  .carousel-inner .item img {
      width: 400px !important;
      height: 200px !important;
      max-width: 400px !important;
  }

  .menu-btn {
      position: absolute;
      
      top: 16px;
      right: 20px;
      width: 40px;
      height: 35px;
      display: block;
      background: var(--primary-color);
      margin-top:10px;
  }

      .menu-btn img {
          position: absolute;
          margin: 10px;
          width: 20px;
          height: 15px;
      }
  .header .navigation .menu {
      z-index:999;
      position: fixed;
      display: block;
      background: var(--secondary-color);
      min-width: 350px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 90px 50px;
      visibility: hidden;
      overflow-y: auto;
      transition: 0.5s;
      transition-property: right, visibility;
  }

  .header.sticky .navigation {
      line-height: 75px;
  }

  .header .navigation .menu.active {
      right: 0;
      visibility: visible;
  }

  .menu-item {
      position: relative;
  }

      .menu-item .sub-menu {
          opacity: 1;
          position: relative;
          top: 0;
          transform: translateX(10px);
          background: #ffff;
          border-radius: 5px;
          overflow: hidden;
          display: none;
      }

      .menu-item > a {
          color: #fff;
          font-size: 1em;
          text-decoration: none;
          margin: 20px;
          padding: 25px 0;
      }

  .header.sticky .menu-item .sub-menu {
      top: 0;
  }

  .menu-item:hover .sub-menu {
      transform: translateX(10px);
  }

  .menu-item .sub-menu .sub-item {
      box-shadow: none;
  }

      .menu-item .sub-menu .sub-item:hover {
          background: none;
      }

      .menu-item .sub-menu .sub-item a:hover {
          color: #4080EF;
          transition: 0.3s;
      }

  .more .more-menu {
      opacity: 1;
      position: relative;
      left: 0;
      transform: translateY(0);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      display: none;
  }

      .more .more-menu .more-item {
          box-shadow: none;
      }

          .more .more-menu .more-item:hover {
              background: none;
          }

          .more .more-menu .more-item a {
              margin-left: 20px;
          }

  .close-btn {
      position: absolute;
      width: 40px;
      height: 40px;
      background-size: 25px;
      background-position: center;
      top: 0;
      left: 0;
      margin: 25px;
      display: block;
  }

      .close-btn img {
          width: 20px;
          height: 20px;
      }

  
}
